



%h1 
  Bobbi's Guitar Lessons
%h2
  Bringing Guitars Out of the Closet All Over The World!

= link_to root_path, class: 'btn btn-success' do
  .fa.fa-home
  Homepage

= link_to courses_path, class: 'btn btn-success' do
  .fa.fa-guitar
  Courses